body {
    background-color: #e3f2fd;

    h {
        font-size: large;
    }

    h1 {
        font-size: 300%;
        color: #34495e;
    }
    /*font-family: Roboto;*/
    .caption {
        position: absolute;
        top: 45%;
        left: 0;
        width: 100%;
    }

    .opaque50 {
        opacity: 0.50;
    }

    .opaque75 {
        opacity: 0.75;
    }

    .height50px {
        height: 50px;
    }

    .height60px {
        height: 60px;
    }

    .baseDiv {
        text-align: left;
    }

    .baseText {
        color: black;
        font-size: large;
        font-style: oblique;
    }

    .alignleft {
        text-align: left;
    }

    .alignright {
        float: right;
        padding: 0 50px 0 0;
    }

    ol {
        display: block;
        list-style-type: decimal;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 40px;
    }

    li {
        display: list-item;
    }
    /*********************************************************/
    /***login*************************************************/
    /* Bordered form */
    form {
        //border: 2px solid #2e6dde;
        margin: 0 auto;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(46, 109, 222, 0.22), 0 6px 20px 0 rgba(46, 109, 222, 0.27);
    }

    .loginForm {
        width: 500px;
    }

    .editForm {
        margin: 0 20px 20px 20px;
    }
    /* Full-width inputs */
    /*input[type=text], input[type=password] {
        width: 100%;
        //padding: 12px 20px;
        margin: 8px 0;
        //display: inline-block;
        //border: 1px solid #ccc;
        //box-sizing: border-box;
    }*/
    /* Set a style for all buttons */
    button {
        cursor: pointer;
        //width: 100%;
    }

    .editButton {
        //width: 15%;
    }
    /* Add a hover effect for buttons */
    button:hover {
        opacity: 0.8;
    }
    /* Avatar image */
    /*
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }
    img.avatar {
        width: 40%;
        border-radius: 50%;
    }*/
    /* Add padding to containers */
    .container {
        padding: 12px;
        max-width: 100%;
    }

    .containerSpc {
        padding: 8px 20px 12px 20px;
        max-width: 100%;
    }

    .thumbnail {
        //position: relative;
        background: url(./../images/menu.jpg) no-repeat center center fixed;
        background-size: cover;
        height: 600px;
    }

    .btn-block {
        margin-top: 1%;
        display: block;
        height: 98%;
        width: 100%;
    }
}
