body {
  background-color: #e3f2fd;
  /*font-family: Roboto;*/
}
body h {
  font-size: large;
}
body h1 {
  font-size: 300%;
  color: #34495e;
}
body .caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}
body .opaque50 {
  opacity: 0.50;
}
body .opaque75 {
  opacity: 0.75;
}
body .height50px {
  height: 50px;
}
body .height60px {
  height: 60px;
}
body .baseDiv {
  text-align: left;
}
body .baseText {
  color: black;
  font-size: large;
  font-style: oblique;
}
body .alignleft {
  text-align: left;
}
body .alignright {
  float: right;
  padding: 0 50px 0 0;
}
body ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
body li {
  display: list-item;
}